.ctc-left-pannel-div{
    width:80%;
    height: 90%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    flex-direction: column;
}

.scrollable-view{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.scrollable-view::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  .scrollable-view::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
  .scrollable-view::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 5px solid white;  /* creates padding around scroll thumb */
  }



.error-network-div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.error-network-message{
    align-self: center;
    font-weight: bold;
    color: cornflowerblue;
}

.refresh-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.refresh-text{
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}
