
.ctc-div{
    margin-left: 15px;
    width: 90%;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.ctc-div-active{
    margin-left: 15px;
    width: 90%;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}


.ctc-div:hover{
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
