.core-component {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 8% 70% 22%;
    overflow: hidden;
}

h2 {
    margin-left: 10px;
}

.contact-pannel{
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:1 ;
    grid-row-end: 4;
}

.contact-message-overview{
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end: 1;
}

.message-pannel{
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:2 ;
    grid-row-end: 2;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.message-pannel::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  .message-pannel::-webkit-scrollbar-track {
    background: aliceblue;        /* color of the tracking area */
  }
  
  .message-pannel::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 5px solid aliceblue;  /* creates padding around scroll thumb */
  }

.editor-pannel{
    height: 70%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:3 ;
    grid-row-end: 3;
    align-self: center;
    padding: 10px
}

