.message-div-receiver{
    padding: 0;
    margin:-5px;
    display: flex;
    justify-content: flex-start;
}

.message-div-sent{
    padding: 0;
    margin-top:-5px;
    margin-bottom: -25px;
    display: flex;
    justify-content: flex-end;
}

.message-received {
    background-color:white ;
    width: max-content;
    max-width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: black;
    border-radius: 30px;
    margin-left: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.message-sent {
    background-color:#F54979 ;
    width: max-content;
    max-width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: aliceblue;
    border-radius: 30px;
    margin-right: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}